.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

body {
  color: #000;
  font-variation-settings: "wght" 500, "wdth" 450;
  letter-spacing: .2px;
  justify-content: center;
  align-items: center;
  font-family: "Deepfreezev 18 Vf", Arial, sans-serif;
  font-size: 24px;
  line-height: 20px;
  display: flex;
}

.buttontext {
  color: #000;
  justify-content: center;
  text-decoration: none;
}

.button {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  border-radius: 50px;
  justify-content: flex-start;
  align-items: center;
  height: 42px;
  padding: 12px;
  text-decoration: none;
  overflow: hidden;
  box-shadow: -7px -7px 10px #ffffffb3, 3px 5px 4px #7c7fa726, 0 2px 70px 5px #7c7fa733, inset -3px -3px 3px #fff6, inset -2px -2px 2px #ffffff80, inset -5px -5px 5px 1px #7c7fa71a, inset -9px -9px 9px 1px #7c7fa740;
}

.body {
  font-size: 24px;
}

.contentwrapper {
  justify-content: space-between;
  height: 60px;
}

.body-2 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: wrap;
}

.container {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  max-width: 360px;
}


@font-face {
  font-family: 'Deepfreezev 18 Vf';
  src: url('../fonts/DeepFreezeV18VF.ttf') format('truetype');
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}